
.d-flex{
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-size: 19px;
    margin: 30px;
}
.container-bar{
    background-color: rgb(255, 255, 255);
    display: flex;
    height : 100%;

}


