/* .container{
    border-radius: 1%;
    height : 650px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.container-fluid{
    text-align: left;
    font-size: large;
} */
.container{
    border-radius: 1%;
    height : 650px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.container-fluid{
    text-align: left;
    font-size: large;
}